<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>技术分享|只争朝夕</title>
    <script data-ad-client="ca-pub-8538865797815020" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<h1>网站正在开发建设中，请耐心等待</h1>

<div style="position: fixed;bottom: 20px;background-color: lavender">
    网站：www.acompe.top
    备案信息：冀ICP备17012189号-1
    <br>
    网站：www.acompe.com
    备案信息：冀ICP备17012189号-2
    <br>
    <a href="http://www.beian.miit.gov.cn">工信部网站</a>
</div>
</body>
</html>